dagit==1.2.1
dagster==1.2.1
dagster-aws==0.18.1
dagster_postgres==0.18.1
dagster-pandas==0.18.1
dagster-graphql==1.2.1
flake8==4.0.1
autocorrect==2.6.1
autopep8==1.6.0
isort==5.10.1
spacy==3.3.0
pyarrow==11.0.0
python-dotenv==1.0.0
strenum
